@import "tailwindcss";

:root {
  --background: #f0dbca;
  --foreground: #2d1b12;
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

/* ==========================
   TIPOGRAFIA
========================== */

.title-main {
  font-family: var(--font-cinzel);
  @apply text-4xl md:text-5xl font-bold leading-tight;
}

.title-section {
  font-family: var(--font-cinzel);
  @apply text-2xl md:text-3xl font-semibold;
}

.title-card {
  font-family: var(--font-cinzel);
  @apply text-xl md:text-2xl font-medium;
}

.text-content {
  text-align: justify;
  @apply text-base leading-8;
}

.subtitle {
font-family: var(--font-cinzel);
  @apply text-lg font-semibold;
}

.menu-link {
  @apply text-base font-medium transition-colors duration-300;
}

.text-little{
  @apply  font-light text-xs;
}

/* ==========================
   CONTAINERS
========================== */

.container-custom {
  @apply max-w-7xl mx-auto px-4 md:px-8;
}

.section-spacing {
  @apply py-16 md:py-24;
}

/* ==========================
   BOTÕES
========================== */

.btn-primary {
  @apply px-6 py-3 rounded-lg font-medium;
}

.btn-secondary {
  @apply px-6 py-3 rounded-lg border;
}

/* ==========================
   CARDS
========================== */

.card {
  @apply rounded-xl p-6 shadow-sm;
}

/* ==========================
   IMAGENS
========================== */

.image-rounded {
  @apply rounded-2xl overflow-hidden;
}